<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Привет, {{name}}.</p>
    <p>Добро пожаловать в Cracker!</p>
    <p>Чтобы подтвердить свою почту воспользуйтесь ссылкой ниже</p>
    <a href="{{link}}">Подтвердить почту</a>
  </body>
</html>
