<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Привет, {{name}},</p>
    <p>Вы отправляли запрос на сброс пароля</p>
    <p>Если это были не Вы, просто проигнорируйте это письмо.</p>
    <p>Если вы хотите сбросить пароль и установить новый воспользуйтесь ссылкой ниже</p>
    <a href="{{link}}">Создать новый пароль</a>
  </body>
</html>
