<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Привет, {{name}}.</p>
    <p>Вы успешно установили новый пароль и теперь можете перейти в приложение по ссылки ниже</p>
    <a href="{{link}}">Cracker</a>
  </body>
</html>
